#config_version=5
game:
  balls_per_game: 3
  max_players: 4

machine:
  balls_installed: 4

window:
  width: 1366
  height: 768
  title: Amigos
  resizable: false
  fullscreen: false
  borderless: false
  exit_on_escape: true
  source_display: window

displays:
  window:
    width: 1366
    height: 768

images:
  ZukiDogLogo:
    file: ZukiDogLogo.png
  MPF_logo:
    file: MPF_logo.png
  Multimorphic_logo:
    file: Multimorphic.png
  PinballLife_logo:
    file: PinballLifeLogo.png
  Amigos_dogs:
    file: DieLikeDogs.png
  Amigos_lions:
    file: FightLikeLions.png
  Amigos_dusty:
    file: DustyBottoms.png
  Amigos_lucky:
    file: LuckyDay.png
  Amigos_ned:
    file: NedNederlander.png
  Amigos_billboard:
    file: Billboard.png

widget_styles:
  attract_mode_high_score_display_label:
    font_size: 30
    anchor_x: right
    anchor_y: top
    x: center-10
    bold: true
  attract_mode_high_score_display_name:
    font_size: 30
    anchor_x: right
    anchor_y: top
    x: center+70
  attract_mode_high_score_display_score:
    font_size: 30
    anchor_x: left
    anchor_y: top
    x: center+90
    number_grouping: true
    min_digits: 1

switches:
    s_left_flipper:
        number: A1-B0-1
        tags: left_flipper
    s_right_flipper:
        number: A1-B0-2
        tags: right_flipper
    s_trough1:
        number: A0-B0-0
        type: 'NC'
    s_trough2:
        number: A0-B0-4
    s_trough3:
        number: A0-B0-3
    s_trough4:
        number: A0-B0-2
    s_trough_jam:
        number: A0-B0-1
        type: 'NC'
#INFO: switch to detect the ball resting in the lane
    s_plunger_lane:
        number: A0-B0-5
        tags: plunger_lane
    s_start:
        number: A1-B0-0
        tags: start
    s_left_slingshot:
        number: A0-B0-6
    s_right_slingshot:
        number: A0-B0-7
    s_right_jet:
        number: A2-B0-0
    s_drop_target_left:
        number: A0-B1-0
        type: NC
    s_drop_target_middle:
        number: A0-B1-1
        type: NC
    s_drop_target_right:
        number: A0-B1-2
        type: NC
    s_tilt:
        number: A1-B0-4
        tags: tilt_warning
    s_spinner:
        number: A2-B0-1
    s_L_circle:
        number: A2-B0-2
    s_C_CaptiveStanding:
        number: A2-B0-3
    s_L_RightRamp:
        number: A2-B0-4
    s_R_RightRamp:
        number: A2-B0-5

timed_switches:
    plunger_lane_check:
        switch_tags: plunger_lane
        time: 250ms
        events_when_active: plunger_lane_checked
        events_when_released: plunger_lane_released

coils:    
    c_flipper_left_main:
        number: A0-B1-2
        default_pulse_ms: 30
    c_flipper_left_hold:
        number: A0-B1-3
        allow_enable: true
    c_flipper_right_main:
        number: A0-B0-1
        default_pulse_ms: 30
    c_flipper_right_hold:
        number: A0-B0-2
        allow_enable: true
    c_trough_eject:
        number: A0-B0-3
        default_pulse_ms: 20
    c_plunger:
        number: A0-B0-0
        default_pulse_ms: 20
    c_left_slingshot:
        number: A0-B1-1
        default_pulse_ms: 7
    c_right_slingshot:
        number: A0-B1-0
        default_pulse_ms: 7
    c_drop_target_reset:
        number: A0-B1-4
        default_pulse_ms: 60
    c_right_jet:
        number: A0-B0-4
        default_pulse_ms: 25

autofire_coils:
    left_slingshot:
        coil: c_left_slingshot
        switch: s_left_slingshot
    right_slingshot:
        coil: c_right_slingshot
        switch: s_right_slingshot
    right_jet:
        coil: c_right_jet
        switch: s_right_jet

ball_devices:
    bd_trough:
        ball_switches: s_trough1, s_trough2, s_trough3, s_trough4, s_trough_jam
        eject_coil: c_trough_eject
        entrance_count_delay: 300ms
        tags: trough, home, drain
        jam_switch: s_trough_jam
        eject_coil_jam_pulse: 15ms
        eject_targets: bd_plunger
    #    eject_timeouts: 3s
        # debug: yes

    bd_plunger:
        ball_switches: s_plunger_lane
        eject_coil: c_plunger
        mechanical_eject: true
        entrance_count_delay: 300ms
    #    eject_timeouts: 2s


playfields:
    playfield:
        tags: default
        default_source_device: bd_plunger
#        enable_ball_search: True
#        ball_search_timeout: 20s
#        ball_search_wait_after_iteration: 10s
#        ball_search_interval: 250ms

flippers:
    left_flipper:
        main_coil: c_flipper_left_main
        hold_coil: c_flipper_left_hold
        activation_switch: s_left_flipper
        #enable_events: machine_reset_phase_3
    right_flipper:
        main_coil: c_flipper_right_main
        hold_coil: c_flipper_right_hold
        activation_switch: s_right_flipper
        #enable_events: machine_reset_phase_3

drop_targets:
    dt_1_left:
        switch: s_drop_target_left
    dt_2_middle:
        switch: s_drop_target_middle
    dt_3_right:
        switch: s_drop_target_right
    
drop_target_banks:
    dt_bank:
        drop_targets: dt_1_left, dt_2_middle, dt_3_right
        reset_coils: c_drop_target_reset
        reset_on_complete: 1s
        reset_events:
            player_turn_started: 1s
